
.numbers{
    background: url('./img/service-bg.jpg') center/cover no-repeat fixed;
    padding: 80px 0;
    color: var(--col-whi);
  }
  .numbers-item:not(.last){
    border-right: 1px solid var(--col-whi); 
    margin-bottom: 20px; 
  }
  .numbers-item-number{
    font-size: 50px;
  }
  .numbers-item-title{
    font-weight: 400 !important;
    font-size: 20px;
  }

  @media(max-width:992px){
    .numbers-item:not(.last){
      border: none;
    }
  }